In [ ]:
names = ["robert", "jenny", "alice"]
names

In [ ]:
codes = {
    "tw": "Taiwan",
    "jp": "Janpan",
    "us": "united State"
}
#dict
print(codes)
print(codes['tw'])

In [ ]:
#set

nums = {1,1,2,2,3,3}
nums

In [ ]:
n1, n2 = 25.5, 92.6
n1, n2

In [ ]:
def add(n1, n2):
    return n1 + n2

add(50, 90)

In [ ]:
add(n1=50, n2=90)