In [ ]:
#python的變數建立
n = 56
m = 57.8
name = 'robert'
is_true = True

print(n, m , name, is_true, 6, 9, 8,10,sep='-')

In [ ]:
#python的基本資料型別
type(n), type(m), type(name), type(is_true)

In [ ]:
age = 26

if age < 18:
    print("未成年")
else:
    print("成年")

In [ ]:
age=26
print("未成年") if age<18 else print("成年")

In [ ]:
age = 55

if age < 18:
    print("未成年")
elif age < 50:
    print("成年")
else:
    print("老年")

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for element in ['taiwan', 'japan', 'us']:
    print(element)